/*
Utiliser une police personnalisée via @font-face
*/
@font-face {
    font-family: 'cac_champagneregular';
    src: url('ressource/police/cac_champagne-webfont.eot');
    src: url('ressource/police/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('ressource/police/cac_champagne-webfont.woff2') format('woff2'),
         url('ressource/police/cac_champagne-webfont.woff') format('woff'),
         url('ressource/police/cac_champagne-webfont.ttf') format('truetype'),
         url('ressource/police/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
}

body 
{
	padding: 0;
	margin: 0;
	background-image: url("ressource/img/fond.png");
}
@media all and (max-width: 1024px)

{

    #bloc_page

    {

        width: auto;

    }

}

h1, .accroche
	{
		text-align: center ;
		font-family: 'cac_champagneregular', Arial, serif;
		text-shadow: 2px 2px 4px black;
	}
	
.accroche
	{
		font-size: 1.5em ;
	}

.photo
	{
		display: flex;
		flex-direction: align;
		margin-top: 10%;
	}

@media all and (max-width: 1024px)
	{
    .photo
		{
			margin: auto;
		}
	}
		
#nom_accroche
	{
		display: flex;
		flex-direction: column;
		margin: auto;
	}

@media all and (max-width: 1024px)
	{
    #nom_accroche
		{
			margin: auto;
		}
	}
	
aside
	{
		margin: 0px;
		width: 3%;
		height: 100%;
		background-color: green;
		opacity: 0.75;
		position: absolute ;
	}

@media all and (max-width: 1024px)
	{
    aside
		{
			display: none;
		}
	}
header
	{
		display: flex;
		margin-left: 20%;
		flex-direction: align;
	}
	
@media all and (max-width: 1024px)
	{
		header
		{
			display: flex;
			flex-direction: column;
			margin-left: 5%;
		}
	}

section
	{
		display: flex;
		flex-direction: align;
		margin-left: 10%;
	}
	
@media all and (max-width: 1024px)
	{
		section
		{
			display: flex;
			flex-direction: column;
			min-width: 100%;
			margin: auto;
			text-align:justify;
		}
	}
	
#experience, #competence, #formation
	{
		margin: auto;
		margin-top: 2%;	
		width: 25%;
	}
	
@media all and (max-width: 1024px)
	{
		#experience, #competence, #formation
		{
			display: flex;
			flex-direction: column;
			margin:auto;
		}
	}

h2
{
	color: rgb(95, 171, 207);
}