/*
Utiliser une police personnalisée via @font-face
*/
@font-face {
    font-family: 'cac_champagneregular';
    src: url('ressource/police/cac_champagne-webfont.eot');
    src: url('ressource/police/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('ressource/police/cac_champagne-webfont.woff2') format('woff2'),
         url('ressource/police/cac_champagne-webfont.woff') format('woff'),
         url('ressource/police/cac_champagne-webfont.ttf') format('truetype'),
         url('ressource/police/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
}

body
	{
		background-image: url("ressource/img/fond.png");
		width: 50%;
		margin-left: 20%;
		width: 40%;
		margin: auto;
	}
	
h1, .accroche
	{
		text-align: center ;
		font-family: 'cac_champagneregular', Arial, serif;
		text-shadow: 2px 2px 4px black;
		border : solid 2px black;
	}

#lisere
{
	display: flex;
	width: 10%;
	height: 100%;
	background-color: black;
	border : solid 2px black;
	position: relative ;
}

header{
	display: flex;
	border : solid 2px black;
}

section{
	display: flex;
	border : solid 2px black;
}