/*
Utiliser une police personnalisée via @font-face
*/
@font-face {
    font-family: 'cac_champagneregular';
    src: url('ressource/police/cac_champagne-webfont.eot');
    src: url('ressource/police/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('ressource/police/cac_champagne-webfont.woff2') format('woff2'),
         url('ressource/police/cac_champagne-webfont.woff') format('woff'),
         url('ressource/police/cac_champagne-webfont.ttf') format('truetype'),
         url('ressource/police/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
}

body 
{
	padding: 0;
	margin: 0;
	background-image: url("ressource/img/fond.png");
}


h1, .accroche
	{
		text-align: center ;
		font-family: 'cac_champagneregular', Arial, serif;
		text-shadow: 2px 2px 4px black;
	}
	
.accroche
	{
		font-size: 1.5em ;
	}

.photo
	{
		display: flex;
		flex-direction: align;
		margin-top: 10%;
	}
	
#nom_accroche
	{
		display: flex;
		flex-direction: column;
		margin: auto;
	}

aside
	{
		margin: 0px;
		width: 3%;
		height: 100%;
		background-color: green;
		opacity: 0.75;
		position: absolute ;
	}

header
	{
		display: flex;
		margin-left: 20%;
	}

section
	{
		display: flex;
		flex-direction: align;
		margin-left: 10%;
	}

#experience, #competence, #formation
	{
		margin: auto;
		margin-top: 2%;	
		width: 25%;
	}

h2
{
	color: rgb(95, 171, 207);
}